app-sidebar{
    position: fixed;
    left:0rem;
    height: calc(100vh - 4rem);
    z-index: 4;
    box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.2);
    margin-right: 2%;
    background-color: white;
    width: 60px;
}

main{
    margin-left: 4rem;
    margin-top: 1rem;
    transition:  0.3s ease;
}

app-sidebar:hover + main {
    margin-left: 14rem ; 
}
app-sidebar:hover{
    width: 200px;
    transition:  0.4s ease;
}